*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*GENERAL RESET*/
img{
    height: auto;
}
body{
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.overlay{
    border-image-source: linear-gradient(
        hsla(0, 0%, 0%, 0.48) , 
        hsla(0, 0%, 0%, 0.4));
    border-image-slice: fill 1;
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
.head{
    background-color: #FEF8D5;
    padding-left: 100px;
    list-style: none;
    align-content: center;
    height: 3rem;
}
.head i{
    color: black;
}
.Important{
    color: red;
}
.Important a{
text-decoration: underline;
color:#000;
}

.Important a:hover{
    text-decoration: underline;
    color:blue;
    }

header{
    display: flex;
    justify-content: space-between;
    background-color: #363636;
    height: 3.5rem;
    align-items: center;
    padding-inline: 15%;
}
.logo{
    background-color: #d71921;
    height: 9rem;
    width: 6rem;
    margin-top: 5.5rem;
    position: absolute;
}
.logo img{
    width: 6rem;
    margin-top: 4.7rem;
}

header nav ul{
    display: flex;
    list-style: none;
    margin-left: 9rem;
}

header nav a{
    color: #fff;
    padding: 0.8rem;
    font-size: 14px ;
    font-weight: 600;
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
.call_to_action{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.call_to_action ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.call_to_action a{
    color: #fff;
    padding: 0.5rem;
    font-size: 14px;
    font-weight: 600;
}
@media (max-width:750px) {
    header{
    height: 3.5rem;
    padding-inline: 10px;
    }
    .logo{
        height: 7rem;
        margin-top: 3.5rem;
        width: 4.5rem;
    }
    .logo img{
        margin-top: 3.0em;
        width: 4.5rem;
    }
    header nav ul{
        display: none;
    }
    .head{
        padding-left: 5px;
    }
    .head i{
        font-size: 12px;
    }
    .Important{
        font-size: 12px;
    }
    .Important a{
    font-size: 12px;
    letter-spacing: -1;
    word-spacing: -0.1rem;
    }
    .call_to_action i{
        font-size: 10px;
    }
    .call_to_action li:nth-of-type(2){
        display: none;
    }
    .call_to_action a{

        padding: 0.3rem;
        font-size: 11px;
        font-weight: 400;
    }
}
#hero{
    height: 150vh;
}
.back{
    height: 59vh;
    width: 100%;
    background-image: url(/images/view-of-dubai-canal-at-sunset-hp-w1920x480.avif);
    background-position: center;
    background-repeat: no-repeat;
}
.float{
  width: 100%;
  height: 7vh;
}
.float img{
    width: 10rem;
    float: right;
    margin-right: 14rem;
    margin-top: 1.5rem;
}

.text{
    height: 43vh;
    width: 45%;
}
.slant{
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    position: absolute;
    font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    padding-left: 15rem;
    margin-top: 2.5rem;
    transform: rotate(0deg) scale(1) skew(-13deg) translate(0);
}
.norm{
    height: 13.7rem;
    padding-top: 4rem;
    padding-left: 15rem;
}
.hotel{
    font-family: Heroic-Medium, Arial Narrow Bold, Franklin Gothic Medium, Franklin Gothic, Arial Narrow, HelveticaNeue, Helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 6rem;
    transform: rotate(0deg) scale(1) skew(-8deg) translate(0);
    letter-spacing: -7px;
    color: #fff;
    word-spacing: -1px;
    text-shadow: .1rem .1rem .5rem rgba(0, 0, 0, .3);
    display: block;
    text-transform: uppercase;
    }
.hero__description{
    color: #fff;
    font-size: 2rem;
    padding-right: .4rem;
    padding-left: 2.2rem;
    float: right;

    }
.hero-btn{
    float: right;
    width: 9.5rem;
    height: 2.5rem;
    background-color: #d71921;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    }
@media (max-width:750px) {
    .back{
        height: 60vh;
    }
    .float{
        width: 100%;
        height:  4rem;
      }
      .float img{
        width: 6rem;
        float: right;
        margin-right: 0rem;
        margin-top: 1.5rem;
    }
    .text{
        height: 43vh;
        width: 100%;
    }
    .slant{
        font-size: 1.5rem;
        padding-left: 1rem;
        margin-top: 1.5rem;
    }
    .norm{
        height: 13.7rem;
        padding-top: 4rem;
        padding-left: 1rem;
    }
    .hotel{
        font-size: 3.56rem;
        margin-bottom: 1rem;
        }
    .hero__description{
        color: #fff;
        font-size: 1.2rem;
        padding-right: 9.4rem;
        padding-left: 0rem;
        float: right;
    
        }
    .hero-btn{
        float: right;
        width: 9rem;
        height: 2.5rem;
        margin-right: 9.4rem;
        }
}
.travel-form{
    height: 50vh;
    width: 100%;
    margin-top: 1rem;
    align-items: center;
    padding-inline: 13rem;
    border-radius: 5%;
}
    
.landing_form{
    height: 17rem;
    width: 100%;
    align-items: center;
    /* border-radius: ; */
    box-shadow: 0px 10px 10px rgb(220, 220, 220);

}
.form_nav{
    display: flex;
    width: 100%;
    height: 3.5rem;
    align-items: center;
    background-color: #fff;
    border-radius: 5px 5px 0 0 ;
    border-bottom: 1px solid grey;
}
 .form_nav ul{
    display: flex;
    height: 3.5rem;
    width: 100%;
    text-align: center;
 }
 .form_nav li:first-child,
 .form_nav li:last-child{
    padding-inline: 4.5rem;
 }
 .form_nav li:nth-child(3){
    padding-inline: 2.5rem;
 }

 .form_nav li{
    height: 3.5rem;
    width: 25%;
    align-items: center;
    padding-inline: 1rem;
    display: flex;
    border-left: 1px solid grey;
 }
 .form_nav ul a{
  color: black;
  text-decoration: none;
  font-size: 17px;
  
 }
 .red{
    border-bottom: 4px solid red;
 }
 .red:hover{
    /* background-color: ; */
 }
 .form_nav li:hover{
   box-shadow: #363636;
 }
 @media (max-width:750px) {
    .travel-form{
        height: 50vh;
        margin-top: 0rem;
        padding-inline: 1rem;
    }
        
    .landing_form{
        height: 17rem;
    }
    .form_nav li:first-child,
    .form_nav li:last-child{
       padding-inline: 0rem;
    }
    .form_nav li:nth-child(3){
       padding-inline: 0rem;
    }
   
    .form_nav li{
       text-align: center;
       padding-inline: 0rem;
    }
    .form_nav li i{
        font-size: 11px;
     }
    .form_nav ul a{
        color: black;
        text-decoration: none;
        font-size: 12px;
        
       }

 }

/* END OF FORM IN LANDING PAGE */


 .form_body{
    height: 13rem;
    width: 100%;
    padding: 1rem;  

 }
 h3{
  font-size: 2rem;
  padding-block: 1rem;
  font-weight: 100;
  margin-bottom: 2.5rem;
 }
 .mini_landing{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    gap: 5%;

 }
 .flight{
    height: 2.9rem;
    border-radius: 5px;
    margin-bottom: 3rem;
}
.flight-btn{
    float: left;
    width: 9.0rem;
    height: 2.3rem;
    background-color: #fff;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid black;
    cursor: pointer;
    }
.flight-btn:hover{
    box-shadow: 0px 10px 10px rgb(220, 220, 220);
    background-color: #fff;

}
 .from{
    display: block;
    font-size: 1.2rem;
    width: 50%;
 }
 .to{
    display: block;
    font-size: 1.2rem;
    width: 50%;

 }
 .mini_landing input{
    height: 3.7rem;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 0.5px solid grey;
    font-size: 0.95rem;
 }
 .mini_landing button{
    height: 3.7rem;
    width: 11.5rem;
    font-size: 1.0rem;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    background: #d71921;
 }
 .form_body button a{
    text-decoration: none;
    color: white;
 }
 .form_body button a:hover{
    color: black;
 }
 #hero button:hover{
    background-color: rgb(197, 197, 197);
    color: black; 
}
@media (max-width:750px) {
    .form_body{
        padding: 0.5rem; 
     }
    .flight-btn{
        width: 4.0rem;
        height: 1.7rem;
        font-size: 11px;
        margin-top: 1rem;
    }
    .mini_landing input{
        width: 7rem;
        padding: 0rem;
        font-size: 0.8rem;
     }
     .mini_landing button{
        padding: 0.5rem;
        font-size: 0.8rem;
     }
}

.choice{
    height: 7.5rem;
    width: 100%;
    padding-inline: 10rem;
}
.boxes{
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 10px rgb(220, 220, 220);
    border: 0.01px solid grey;
    border-radius: 4px;
    margin-bottom: 2rem;
}

.box{
    width: 12.5%;
    height: 100%;
    background-color: #fff;
    border-right: 0.01px solid grey;
    text-align: center;
    align-items: center;
    padding: 2.5rem 0rem;
    cursor: pointer;
    display: block;
}
.box li{
    list-style: none;
}
.box i{
    color: grey;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.box a{
    color: grey;
    text-decoration: underline;
}
.box:hover{
    color: #000;
    border-bottom: 2px solid red;
}
.box li a:hover{
    color: #000;
}
.choiceimg-container{
    height: 4rem;
    align-items: center;
    display: flex;
    gap: 1%;
    width: 100%;
    background-color: #000;
    background-image: url(/images/background-test-tier.png);
    background-position: center;
    background-size: contain;
    color: #000;
    border-radius: 7px;
    padding-left: 3rem;
}
.choice img{
    height: 6rem;
    width: 20%;
    z-index: 3;
}
span{
    font-size: 19px;
    font-weight: 580;
}
.choiceimg-container p{
    color: white;
    font-size: 16px;
}
.white-btn{
        padding-top: 0rem;
}
.white-btn {
    padding: 0.5rem 2.8rem;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 5
    rem;
} 
@media (max-width:750px) {
    .choice{
        height: 17.5rem;
        width: 100%;
        padding-inline: 0.5rem;
    }
    .boxes{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        height: 50%;
        border: 0.01px solid grey;
    }
    
    .box{
        width: 100%;
        height: 100%;
        border: 0.01px solid grey;
        padding: 0rem 0rem;
    }
    .box i{
        font-size: 17px;
        margin-top: 0.8rem;
    }
    .box a{
        color: grey;
        text-decoration: underline;
        font-size: 11px;
    }
    .choiceimg-container{
        gap: 0.5%;
        width: 100%;
        padding-inline: 0.5rem;
    }
    .choice img{
        height: 5.6rem;
        width: 25%;
    }
    span{
        font-size: 13px;
    }
    .choiceimg-container p{
        font-size: 11px;
    }
    .white-btn{
        padding-top: 0rem;
    }
        .white-btn {
            padding: 0.3rem 0.9rem;
            font-size: 10px;
            font-weight: 400;
            margin-left: 0.5rem;
        } 
}

/* DESTINATION STYLING */
.destination{
    height: 140vh;
    width: 100%;
    padding-inline: 15rem;
    text-align: center;
}
.destinationcard{
    display: grid;
    width: 100%;
    height: 110vh;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr;
    align-items: center;;
}
.card{
    width: 100%;
    height: 20rem;
    box-shadow: 0px 10px 10px rgb(220, 220, 220);

}
.cardimg{
    width: 100%;
    height: 50%;
}
.cardtext{
    height: 50%;
    width: 100%;
    padding: 1.5rem 7rem;
}
.card img{
    width: 100%;
    height: 100%;
}
.thin{
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 12px;
    line-height: 1.15rem;
    font-weight: 600;
    line-height: 1.4rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: #666;
    hyphens: auto;
    margin: 0;
}
.city{
    font-family: "Emirates-Bold", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
    font-size: 18px;
    line-height: 2.4rem;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    hyphens: auto;
    letter-spacing: 0;
    color: #333;
    margin-top: .1rem;
    margin-bottom: 0;

}
.disco{
font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
font-size: 17px;
line-height: 1.61rem;
font-weight: 700;
line-height: 1.8rem;
margin: 16px 0 0;
letter-spacing: 0;
color: #333;
}

.dest-btn{
    width: 13.5rem;
    height: 2.5rem;
    background-color: transparent;
    color: black;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid black;
}
.dest-btn:hover{
    box-shadow: 0px 10px 10px rgb(220, 220, 220);
}
@media (max-width:750px) {
    .destination{
        height: 270vh;
        padding-inline: 1rem;
    }
    .destinationcard{
        display: grid;
        width: 100%;
        height: 234vh;
        grid-gap: 5%;
        grid-template-columns: 1fr ;
    }
    .cardtext{
        height: 50%;
        width: 100%;
        padding: 1.5rem 3.5rem;
    }
    .dest-btn{
        width: 13.5rem;
        height: 2.5rem;
        margin-top: 2rem;
    }
}


/* OFFERS STYLING */
.offers{
    height: 65vh;
    width: 100%;
    background-image: url(/images/students-walking-though-university-hall-w1920x480.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.offer-txt{
    text-align: center;
    width: 100%;
    height: 70%;
}

.special{
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #666;
    text-transform: uppercase;
    margin: 0;
    padding-top: 5.7rem;
    letter-spacing: .2rem;
    line-height: 0.2rem;
    color: #fff;
    opacity: .69;
    text-shadow: .1rem .1rem 0 rgba(0, 0, 0, .5);
}

.offer-p{
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 15px;
    line-height: 1.61rem;
    font-weight: 200;
    color: #fff;
    margin: 0;
    line-height: 2rem;
}
.offer-h{
    font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 45px;
    line-height: 5.75rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 6rem;
    color: #fff;
    margin: 0 auto;
    font-weight: 600;
}
.btn{
    width: 100%;
    height: 30%;
    padding-top: 2rem;
}
.btn a{
    padding: 0.7rem 1.7rem;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 5px;
} 
@media (max-width:750px) {
    .offers{
        height: 65vh;
        width: 100%;
    }
    .special{
        font-size: 10px;
        padding-top: 3.7rem;
        letter-spacing: .0rem;
        color: #fff;
        margin-bottom: 2rem;
    }
    
    .offer-p{
        font-size: 13px;
        line-height: 1.1rem;
        margin-inline: 1.8rem;

    }
    .offer-h{
        font-size: 29px;
        line-height: 2.7rem;
        margin-bottom: 2rem;
    }
}
/* FLYING EXPERIENCE STYLE */
.flying-exper{
    height: 120vh;
    width: 100%;
    text-align: center;
    padding-inline: 13rem;
    padding-bottom: 20rem;
    background-image: url(/images/seafood-meal-first-class-black-and-white.avif);
    background-repeat: no-repeat;
}
.special2{
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: #666;
    text-transform: uppercase;
    margin: 0;
    padding-top: 2.7rem;
    letter-spacing: .2rem;
    line-height: 0.2rem;
    color: rgb(59, 59, 59);
    opacity: .69;

}
.fly-h{
    font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 45px;
    line-height: 3.75rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 6rem;
    color: #000;
    margin: 0 auto;
    font-weight: 600;
}

.fly-p{
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 15px;
    line-height: 1.61rem;
    font-weight: 200;
    color: #000;
    margin: 0;
    line-height: 2rem;
    margin-bottom: 3rem;
}
.grids{
    width: 100%;
    gap: 1%;
    height: 100%;
    display: flex;
    margin-top: rem;
}
.grid1{
    width: 50%;
    height: 100%;
    background-image: url(/images/dubai-downtown.avif);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    padding: 2rem 4rem 0rem 2.5rem;
    border: 1px solid rgb(200, 200, 200);
}
.grid2{
    width: 50%;
    height: 100%;
    display: grid;
    gap: 2%;
    grid-template-columns: 1fr 1fr;
}
.grid{
    border: 1px solid rgb(200, 200, 200);
    padding: 1rem;
}
.grid:first-child{
    background-image: url(/images/first-class-dessert.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid:nth-child(2){
    background-image: url(/images/business-class-meal.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid:nth-child(3){
    background-image: url(/images/premium-economy-menu.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid:nth-child(4){
    background-image: url(/images/economy-class-chocolate-dessert.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.special3{
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 10px;
    line-height: 1.38rem;
    font-weight: 790;
    letter-spacing: .4rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    color: #666;
    margin-bottom: 2rem;

}
.grid-h{
    font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 2.9rem;
    line-height: 3.53rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    position: relative;
    margin-bottom: 0;
    color: #333;
}
.special4{
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 600;
    font-size: 11.5px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    color: #666;

}
.grid-h0{
    font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 22px;
    line-height: 2.53rem;
    font-style: italic;
    font-weight: 550;
    -webkit-font-smoothing: antialiased;
    position: relative;
    margin-bottom: 0;
    color: #333;
}
@media (max-width:750px) {
    .flying-exper{
        height: 165vh;
        padding-inline: 1rem;
        padding-bottom: 0rem;
    }
    .special2{
        font-size: 10px;
        margin-bottom: 2rem;
    }
    .fly-h{
        font-size: 29px;
        line-height: 1.9rem;
        margin-bottom: 2rem;
    }
    .fly-p{
        font-size: 13.5px;
        line-height: 1rem;
        margin-bottom: 3rem;
    }
    .grids{
        width: 100%;
        height: 122vh;
        display: block;
    }
    .grid1{
        width: 100%;
        height: 45%;
        padding: 1rem 1rem 0rem 1rem;
        margin-bottom: 1rem;
    }
    .grid2{
        width: 100%;
        height: 45%;
        gap: 1.7%;
    }
    .grid-h{
        font-size: 38px;
        line-height: 2.4rem;
    }
    
}
/* ABOUT STYLING */
.about{
    height: 50vh;
    width: 100%;
    padding-inline: 10rem;
}
.about h2{
    font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    padding-top: 47px;
    margin: 0;
    display: block;
    text-align: center;
    margin-bottom: 1.6rem;
}
.about p{
    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    color: #333;
    font-weight: 300;
    margin-bottom: 2rem;
}
.slide{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60% ;

    padding-inline: 13rem;
}
.about img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
.slide-img{
    height: 100%;
    width: 10rem;
    display: block;
    text-align: center;
    align-items: center;

}
.slide-img a{
    color: #000;
    font-size: 14px ;
    font-weight: 600;
    text-decoration: underline;
}
@media (max-width:750px) {
    .about{
        height: 50vh;
        padding-inline: 1rem;
    }
    .slide{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60% ;
        padding-inline: 1rem;
    }
    .about img{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        margin-bottom: 0.5rem;
    }
    .slide-img{
        height: 100%;
        width: 10rem;
        display: block;
        text-align: center;
        align-items: center;
    
    }
}




/* FOOTER STYLE */
.footer {
    background-color: #333333;
    padding: 20px 0;
}
.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-inline: 4rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-section {
    flex: 1 1 200px;
    margin: 10px;
    border-bottom: 1px solid grey;
}
.footer-section h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 8px;
}
.footer-section ul li a {
    color: rgb(159, 159, 159);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.footer-section ul li a:hover {
    text-decoration: underline;
}
.subscribe,.apps,.social {
    margin-top: 20px;
    border-bottom: 0;
}
.subscribe h3{
    margin-bottom: 0;
}
.subscribe p,
.social p,
.apps p{
    margin-bottom: 2rem;
    color: rgb(159, 159, 159);
    font-size: 15px;

}
.subscribe p a{
    color: rgb(159, 159, 159);
    text-decoration: underline;
    font-size: 15px;
}
.subscribe input[type="email"] {
    height: 2.5rem;
    border-radius: 5px;
    padding: 1rem;
    width: 12rem;
}
.subscribe input[type="submit"] {
    height: 2.5rem;
    width: 6.5rem;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 600;
    background-color: transparent;
    border-radius: 5px;
}
.apps img {
    margin-right: 10px;
}
.social i {
    margin-right: 10px;
    font-size: 39px;
    font-weight: 100;
    color: #000;
}
.footer-img{
    width: 90%;
    max-width: 1200px;
    margin: 0 15rem ;
    display: flex;
    padding: 2.2rem 0rem;
    flex-wrap: wrap;
    gap: 8rem;
    border-bottom: 0.5px solid grey;
}

.footer-img img{
    width: 15rem;
    cursor: pointer;
}
.f-nav {
    width: 70%;
    margin: 2rem 15rem;
    line-height: 1.9;
    color: #fff;
    font-size: 13px;
}
.f-nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.f-nav li a{
    text-decoration: none;
    color: grey;
    padding: 0rem;
    font-size: 14px;
    font-weight: 510;
}















/*ALL THE STYLING FOR THE BOOKING WEBPAGE*/


.book-hero{
    height:180vh;
    width: 100%;
}
.book-hero-text{
    height: 50vh ;
    width: 100%;
    text-align: center;
    padding: 0rem 30rem;
}
.book-hero-text h1{
    font-size: 3.7rem;
    letter-spacing: -0.2rem;
    font-family: "Emirates-Bold", sans-serif;
    margin-bottom: 1rem;
}
.book-special{

}
.book-hero-text p{
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    color: #333;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
}

.book-travel-form{
    height: 50vh;
    margin-top: 1rem;
    align-items: center;
    padding: 1rem 13rem;
}
    
.book-landing_form{
    height: 14.3rem;
    width: 100%;
    align-items: center;
    box-shadow: 0px 10px 10px rgb(220, 220, 220);
    margin-bottom: 9rem;

}
/* END OF FORM IN LANDING PAGE */

 .book-form_body{
    display: block;
    height: 14.3rem;
    width: 100%;
    padding: 1rem; 

 }
.book-form-link{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.book-form-link a{
    color: #d71921;
}
 .book-mini_landing{
    display: block;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
 }

 .book-from{
    display: flex;
    gap: 2%;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 1.5rem;
 }
 .book-to{
    display: flex;
    gap: 2%;
    font-size: 1.2rem;
    width: 100%;

 }
 .book-mini_landing input{
    height: 3.7rem;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 0.5px solid grey;
    font-size: 1rem;
    color: #000;
 }
 .book-mini_landing button{
    height: 3.7rem;
    width: 100%;
    font-size: 1.0rem;
    font-weight: 600;
    border: 0;
    color: white;
    border-radius: 4px;
    background: #d71921;
 }
 .book-form_body button a{
    text-decoration: none;
    color: white;
 }
 .book-form_body button a:hover{
    color: black;
 }
 #book-hero button:hover{
    background-color: rgb(197, 197, 197);
    color: black; 
}

.bookin-instructions{
    height: 14.3rem;
    width: 100%;
    align-items: center;
    padding: 2rem 2rem;
    text-align: left;
    box-shadow: 10px 10px 10px 10px rgb(220, 220, 220);
}

.bookin-instructions h4{
    font-size: 1.0rem;
    margin-bottom: 1.8rem;
    letter-spacing: -0.2;
    color: #000;
    font-family: HelveticaNeue-Bold, Arial, Lucida Grande, sans-serif;
}
.bookin-instructions .book-norm{
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    color: #000;
    font-family: HelveticaNeue-Bold, Arial, Lucida Grande, sans-serif;
}
.book-bold{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: -0.2;
    color: #000;
    font-family: HelveticaNeue-Bold, Arial, Lucida Grande, sans-serif;

}


/*STYLING FOR THE MANAGE PAGE*/
.manage-hero{
    height:187vh;
    width: 100%;
}
.manage-list{
    list-style-type: disc;
    margin-left: 2rem;
    margin-top: 2rem;
}
.manage-list li{
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    color: #000;
    font-family: HelveticaNeue-Bold, Arial, Lucida Grande, sans-serif;

}
.manage-instructions{
    height: 32.8rem;
    width: 100%;
    align-items: center;
    padding: 2rem 2rem;
    text-align: left;
    box-shadow: 10px 10px 10px 10px rgb(220, 220, 220);
}

.manage-instructions h4{
    font-size: 1.0rem;
    margin-bottom: 1.8rem;
    letter-spacing: -0.2;
    color: #000;
    font-family: HelveticaNeue-Bold, Arial, Lucida Grande, sans-serif;
}

.manage-instructions .manage-norm{
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    color: #000;
    font-family: HelveticaNeue-Bold, Arial, Lucida Grande, sans-serif;
}
.manage-span{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: -0.2;
    color: #000;
    font-family: HelveticaNeue-Bold, Arial, Lucida Grande, sans-serif;
}
.manage-landing_form{
    height: 10.3rem;
    width: 100%;
    align-items: center;
    box-shadow: 0px 10px 10px rgb(220, 220, 220);
    margin-bottom: 9rem;

}
/* END OF FORM IN LANDING PAGE */

 .manage-form_body{
    display: block;
    height: 10.3rem;
    width: 100%;
    padding: 1rem; 
 }

 .manage-mini_landing{
    display: block;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
 }

 .manage-from{
    display: flex;
    gap: 2%;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 1.5rem;
 }
 .manage-to{
    display: flex;
    gap: 2%;
    font-size: 1.2rem;
    width: 100%;

 }
 .manage-mini_landing input{
    height: 3.7rem;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 0.5px solid grey;
    font-size: 1rem;
    color: #000;
 }
 .manage-mini_landing button{
    height: 3.7rem;
    width: 100%;
    font-size: 1.0rem;
    font-weight: 600;
    border: 0;
    color: white;
    border-radius: 4px;
    background: #d71921;
 }
 .manage-form_body button a{
    text-decoration: none;
    color: white;
 }
 .manage-form_body button a:hover{
    color: black;
 }
 #manage-hero button:hover{
    background-color: rgb(197, 197, 197);
    color: black; 
}